<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pier's Vendor Order Tracker!!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <form action="/orders" method="post">
      <label for="title">Title</label>
      <input id="title" name="title" type="text"></br>
      <label for="description">Description</label>
      <input id="description" name="description" type="text"></br>
      <label for="price">Price</label>
      <input id="price" name="price" type="number"></br>
      <label for="date">Date</label>
      <input id="date" name="date" type="text"></br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>